// All MEC section styles

.mec-section {
  .column(12);
}

.mec-title {
  &:extend(.fundamentals-title);
  text-align: center;
}

.mec {
  margin-top: 70px;
}

.mec-detail {
  .column(7);
  margin-top: 60px;
}

.mec-detail-text {
  font-size: 1.8rem;
  color: @s-text;
  margin-bottom: 0;
}

.mec-subtitle {
  font-size: 1.8rem;
  font-weight: 700;
  color: @f-text;
  margin: 0;
  margin-top: 25px;
}

.mec-text {
  font-size: 1.4rem;
  color: @s-text;
  margin-top: 0;
  margin-bottom: 10px;
}

.mec-articles-list {
  list-style: none;
  padding-left: 0;
  margin-top: 30px;
  border-left: 10px solid #0099CC;
}

.mec-articles-item {
  font-size: 2rem;
  padding: 0 15px 15px 15px;
}

.link {
  font-size: 1.1rem;
  color: #ff6600;
  text-decoration: none;
}

.mec-book-section {
  .column(5);
  margin-top: 60px;
  padding: 0 40px;
}

.mec-book {
  display: block;
  width: 250px;
  height: 340px;
  background-color: #09C;
}


// Responsive

@media (max-width: 768px) {

  .mec-section {
    padding: 0 20px;
  }

  .mec-detail {
    .column(12);
    margin-top: 30px;
  }

  .mec-book-section {
    .column(12);
  }

  .mec-book {
    display: block;
    margin: 0 auto;
  }

  .mec {

    .btn-download {
      display: block;
      margin: 30px auto;
    }
  }

}
